@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vuestic-sass/index';
@import 'icon-fonts/index';

html {
  line-height: 1.15;
}

body {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  line-height: 1.2;
  font-weight: 600;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
  font-size: 1em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: 'ChakraPetch-Light';
  src: url('/src/fonts/chakraPetch/ChakraPetch-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron-Black';
  src: url('/src/fonts/orbitron/Orbitron-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron-Regular';
  src: url('/src/fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron-SemiBold';
  src: url('/src/fonts/orbitron/Orbitron-SemiBold.ttf') format('truetype');
}
